:root {
  --light-bg-color: #54B689;
  --dark-bg-color: #1e2a3a;
}

html {
  font-size: 20px;
}

body {
  color: #4f4f4f;
  font-family: "Roboto", sans-serif;
}

.ligth {
  .sidebar {
    background-color: var(--light-bg-color);
  }

  .social-icons {
    a {
      color: white;
    }

    a:hover {
      color: rgba(255,255,255,0.8);
      transition: all 0.4s ease-in-out;
    }
  }

  .sidebar {
    h1 {
      color: white;
    }
  }

  .sidebar-nav {
    i, a {
      color: rgba(255,255,255,0.7);
    }

    li.active {
      i, a {
        color: rgba(0,0,0,0.6);
      }
    }

    li.active:hover {
      i, a {
        color: rgba(0,0,0,0.6);
      }
    }

    li:hover {
      color: rgba(0,0,0,0.6);

      a, i {
        color: rgba(0,0,0,0.6);
      }
    }
  }

  .about-head {
    header {
      color: rgba(255,255,255,0.7);
      background-color: #fafafa;
      border-bottom: 2px solid rgba(255,255,255,0.1);
      padding-bottom: 0;
      
      h2 {
        color: black;
      }

      h4, p {
        color: #4f4f4f;
      }
    }
  }

  .about-content {
    background-color:white;

    .subtitle {
      color: black;
      border-left: 5px solid var(--light-bg-color);
    }
  
    h6 {
      color: black;

      a, span {  
        color: #4f4f4f
      }

      a:hover {
        color: var(--light-bg-color);
      }
    }

    p, strong, ul {
      color: #4f4f4f;
    }
  }

  .about-extras {
    border-left: 2px solid rgba(255,255,255,0.1);

    ul {
      color: #4f4f4f;
    }
  }

  .sidebar-footer {
    label {
      background-color: #54B689;
      border: 3px solid rgba(255,255,255,0.4);
    }

    label div.s {
      background-color:rgba(255,255,255,0.4);
    }
  }

  .btn-primary {
    background-color: var(--light-bg-color);
    color: white !important;
  }

  .btn-primary:hover {
    background-color: #48a97c !important;
  }
}

.dark {
  background-color: #151e29;
  .sidebar {
    background-color: var(--dark-bg-color);
  }

  .social-icons {
    a {
      color: white;
    }

    a:hover {
      color: var(--light-bg-color);
      transition: all 0.4s ease-in-out;
    }
  }

  .sidebar {
    h1 {
      color: white;
    }
  }

  .sidebar-nav {
    i,a {
      color: rgba(255,255,255,0.7);
    }

    li.active {
      i, a {
        color: var(--light-bg-color);
      }
    }

    li.active:hover {
      i, a {
        color: var(--light-bg-color);
      }
    }

    li:hover {
      color: white;

      a {
        color: white;
      }
    }
  }

  .about-head {
    header {
      color: rgba(255,255,255,0.7);
      background-color: #151e29;
      border-bottom: 2px solid rgba(255,255,255,0.1);
      
      h2 {
        color: white;
      }

      h4, p {
        color: rgba(255,255,255,0.7);
      }
    }
  }

  .about-content {
    background-color: #151e29;

    .subtitle {
      color: white;
      border-left: 5px solid var(--light-bg-color);
    }
  
    h6 {
      color: white;

      a, span {  
        color: rgba(255,255,255,0.4);
      }

      a:hover {
        color: var(--light-bg-color);
      }
    }

    p, strong, ul {
      color: rgba(255,255,255,0.7);
    }
  }

  .about-extras {
    border-left: 2px solid rgba(255,255,255,0.1);

    ul {
      color: rgba(255,255,255,0.7);
    }
  }

  footer {
    color: white;
  }

  .sidebar-footer {
    label {
      background-color: #54B689;
      border: 3px solid #54B689;
    }

    label div.s {
      background-color:#54B689;
    }
  }

  .btn-primary {
    background-color: var(--light-bg-color);
    color: white !important;
  }

  .btn-primary:hover {
    background-color: #48a97c !important;
  }
}

.content {
  min-width: 100%;
  margin: 0;
  padding-left: 260px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.sidebar {
  width: 260px;
  padding: 0.5rem;
  text-align: left;
  
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .container {
    padding: 0;
  }

  .sidebar-about {
    .lead {	
      text-align: center;
      font-weight: 400;
      font-size: 0.7rem;
    }
  
    .author-image {
      img {
        border: none;
        max-width: 160px;
        max-height: 160px;
      }
    }
  }

  .sidebar-nav {
    margin-top: 35px;
    padding-left: 40px;

    li {
      margin-bottom: 10px;

      i {
        font-size: 0.8rem;
      }

      a {
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 600;
        margin-left: 8px;
      }
    }
  }

  .social-icons {
    text-align: center;
  }
}

footer {
  border-top: 0;
  margin: -60px 1rem;
  padding: 0;
}

.about-head {
  header {
    padding: 3rem 7rem;
    padding-bottom: 1rem;;
    display: flex;

    .about-header-content {
      width: 65%;
      margin-right: 3rem;

      h2 {
        font-size: 2.2rem;
        font-weight: bold;
        margin: 0;
      }

      h4 {
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 1.3rem;
        font-weight: 300;
      }

      p {
        font-size: .8rem;
      }
    }

    .about-header-image {
      padding-right: 10rem;

      img {
        width: 12rem;
      }
    }
  }
}

.about-content {
  padding: 3rem 7rem;
  padding-top: 1rem;

  .subtitle {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 3px;
    padding-left: 15px;
  }

  h6 {
    position: relative;
    font-size: 0.9rem;

    .company-data {
      position: absolute;
      right: 0px;
      top: 0px;
      font-size: 0.6rem;
    }
  }

  p, li {
    font-size: .6rem;
  }
}

.about-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .about-work-expiriences {
    width: 65%;

    iframe {
      width: 560px;
      height: 315px;
    }
  }

  .about-extras {
    width: 35%;
    margin-left: 30px;
    padding-left: 30px;

    ul {
      list-style: none;
      padding-left: 0;
      padding-top: 10px;
      font-weight: 400;

      li {
        margin-top: 3px;
      }
    }
  }
}

.btn {
  padding: 6px 16px;
  border-radius: 3px;
  text-decoration: none !important;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
}

.sidebar-footer {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 100%;

  .darkmode-text {
    display: inline-flex;
    font-size: .8rem;
    font-weight: 700;
    position: absolute;
    left: -50px;
    bottom: 0px;
    
    i {
      position: relative;
      top: 3px;
      margin-right: 5px;
    }
  }

  label {
    width: 70px;
    height: 30px;
    border-radius: 16px;
    position: absolute;
    top: 26px;
    transform: translate(-50%,-50%);
    z-index: 2;
  }
  
  input:checked ~ label {
    background-color: transparent;
  }
  
  input:checked ~ label div.s {
    margin-left: 31px;
  }
  
  label div.s {
    width: 27px;
    height: 18px;
    border-radius: 16px;
    position: relative;
    top: 3px;
    left: 3px;
    cursor: pointer;
  }
  
  input {
    display: none;
    appearance: none;
  }
}

* {
  user-select: none;
  transition: 0.2s;
}

@media only screen and (max-width: 740px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  html {
    font-size: 20px;
  }

  .content {
    padding: 9px;
  }

  .sidebar {
    width: 100%;

    h1 {
      margin-top: 5px;
    }
  }

  .sidebar-about {
    h1 {
      margin-bottom: 5px;
    }

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 5px;
    }

    .lead {
      margin-bottom: 5px;
    }

    .social-icons {
      margin-top: 5px;
    }
  }

  .about-head {
    header {
      margin: 0;
      padding: 0;
      display: block;

      .about-header-content {
        margin: 0;
        margin-bottom: 10px;
        width: 100%;

        h2 {
          display: none;
          font-size: 1.2rem;
        }

        h4 {
          display: none;
          font-size: 1rem;
        }

        p {
          font-size: .7rem;
        }

        .btn {
          display: block;
          margin: 0 auto;
          text-align: center;
        }
      }

      .about-header-image {
        display: none;
      }
    }
  }

  .about-content {
    padding: 0;
    margin: 0;

    .about-container {
      display: block;
    }

    .about-work-expiriences {
      width: 100%;

      br {
        display: none;
      }

      iframe {
        width: 100%;
        height: auto;
      }
    }

    .subtitle {
      width: 100%;
      font-size: 1rem;
    }

    h6 {
      margin-top: 9px;
      font-size: .8rem;

      .company-data {
        position: unset;
        margin-top: 2px;
      }

      a, span {
        font-size: .5rem;
      }
    }

    .about-extras {
      width: 100%;
      margin: 0px;
      padding: 0px;
      border: 0px;

      ul {
        padding: 0;
      }
    }
  }

  .sidebar-footer {
    width: auto;
    top: 252px;

    .darkmode-text {
      display: none;
    }
  }

  footer {
    margin: 0;
  }
}

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }